:root {
--primary-text-color:#212121;
--dop-text-color:#757575;
--accent-color:#2196F3;
}
.page{
background-color: #F5F5F5;
}
.main{
width: 1200;
}
ul {list-style: none;}
.page-header {
position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;
display: inline-flex;
background-color:  #FFFFFF;
}

.logo{
text-decoration: none;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #000000;
}
.part-logo{
color: #2196F3;
}
.list-nav, .contacts {
display: inline-flex;
}
.list-nav a, .contacts a {
color: var(--primary-text-color);
text-decoration: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

}
.list-nav a:hover, .contacts a:hover, .list-nav a:focus, .contacts a:focus{
color: var(--accent-color);
}
.contacts{

}

.titel-baner {
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button{
    background-color: #2196F3;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
         color: #FFFFFF;
}
.titel-benefits {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--primary-text-color);
}
.text-benefits {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--dop-text-color);      
}
.team {
background-color: #F5F4FA;
}
.titel-team, .titel-activities{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.caption-team{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.text-team{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: var(--dop-text-color);
}

.titel-portfolio{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}
.text-portfolio{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: var(--dop-text-color);
}
.list-address a {
color: #FFFFFF;
text-decoration: none;
}
.footer{
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;
    
    background-color: #2F303A;
}